hypha_rpc==0.20.48
hypha==0.20.47.post15
numpy==2.1.3
pillow==11.0.0
torch==2.5.1
# segment-anything==1.0
# kaibu_utils==0.1.14
httpx==0.28.1
python-dotenv==1.0.1
fastapi==0.106.0
aiobotocore==2.19.0
numcodecs==0.15.1
# Segmentation service (unused):
# segment-anything==1.0
# kaibu_utils==0.1.14
# requests==2.32.3