hypha_rpc==0.20.53
hypha==0.20.47.post15
numpy==2.1.3
pillow==11.0.0
#torch==2.5.1
# segment-anything==1.0
# kaibu_utils==0.1.14
httpx==0.28.1
python-dotenv==1.0.1
fastapi==0.106.0
aiobotocore==2.19.0
# artifact manager
numcodecs==0.15.1
blosc==1.11.2
aiohttp==3.11.14
scikit-image==0.25.2
zarr==2.15.0
fsspec==2025.3.2
# Segmentation service (unused):
# segment-anything==1.0
# kaibu_utils==0.1.14
# requests==2.32.3